streamlit
langchain
cohere
langchain-cohere
faiss-cpu
pypdf
geopandas
folium
streamlit-folium
chromadb
langchain-chroma
openpyxl
xlrd
pyproj
fiona
langchain-community
sentence-transformers
torchvision
langchain-huggingface